<header class="py-3 text-white px-1" >
  
    <div class="container-fluid">
        <div class="d-flex col-auto flex-wrap align-items-center justify-content-between">
          <a href="/landing" class="d-flex align-items-center mb-2 mb-lg-0 impact text-decoration-none">
            gamerz
          </a>

          <!-- Search Tab -->
           <form action="/dashboard/search" class="nav col-8 col-md-8 px-1 justify-content-start" role="search" method="post">
            <input type="search" name="searchTerm" class="form-control rounded-pill" placeholder="Search..." aria-label="Search">
           </form>

           <span><a class="impact text-decoration-none rounded-pill border-success" href="/logout"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
          </svg></a></span>

        </div>
      </div>
    </header>

    <div class="container-fluid">
    <div class="mx-4 my-3 p-2 text-white px-2 d-flex border-top justify-content-between">

      <div class="justify-content-start align-items-center">
        <span><a class="text-decoration-none text-light px-2" style="border-right: 2px solid #cdcdcd;" href="/news" target="_blank">News</a></span>
        <span><a class="text-decoration-none text-light px-2" style="border-right: 2px solid #cdcdcd;" href="https://www.youtube.com" target="_blank">Videos</a></span>
        <span><a class="text-decoration-none text-light px-2" href="#" target="_blank">Newly Relesed</a></span>
      </div>

      <div><a class="text-decoration-none text-light px-2" target="_blank" href="/esport-tournaments">esports</a></div>
    </div>
  </div>