<header class="py-3 text-white" >
  
  <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <a href="/blogs" class="d-flex align-items-center mb-2 mb-lg-0 impact text-decoration-none">
          gamerz
        </a>


        <div class="text-end">
                <a href="/auth/google"
                  class="text-decoration-none btn border-none text-white"
                >
                 Login
                </a>
                <a href="/auth/google"
                class="text-decoration-none btn border-success impact"
              >
               Sign-up
              </a>
        </div>
      </div>
    </div>
  </header>